receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
        cors:
          allowed_origins: ["https://*", "http://*"]

processors:
  batch:

exporters:
  prometheusremotewrite:
    endpoint: "http://clipboard-prometheus:9090/api/v1/write" # URL of Prometheus remote write endpoint
    resource_to_telemetry_conversion:
      enabled: true
#  otlphttp/metrics:
#    endpoint: http://clipboard-prometheus:9090/api/v1/otlp
#    tls:
#      insecure: true
  otlp/traces:
    endpoint: clipboard-tempo:14317
    tls:
      insecure: true
  otlphttp/logs:
    endpoint: http://clipboard-loki:3100/otlp
    tls:
      insecure: true
  debug:
    verbosity: detailed

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      #exporters: [otlp/traces]
      exporters: [otlp/traces,debug]
    logs:
      receivers: [otlp]
      processors: [batch]
      #exporters: [otlphttp/logs]
      exporters: [otlphttp/logs,debug]
    metrics:
      receivers: [otlp]
      processors: [batch]
#      exporters: [otlphttp/metrics]
      exporters: [prometheusremotewrite]
